@model CarDealerApp.Models.CarsWithPartsViewModel

@{
    ViewBag.Title = "About car";
}

<h2>Make</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cars.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cars.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cars.TravelledDistance)
        </th>
       
    </tr>

@foreach (var item in Model.Parts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
      </tr>
}

</table>
