@model CarDealerApp.Models.SalesViewModel

@{
    ViewBag.Title = "SalesById";
}

<h2>SalesById</h2>
<p>
    <strong>Car Make:</strong> @Model.Car.Make
</p>

<p>
    <strong> Car model:</strong> @Model.Car.Model
</p>

<p>
    <strong> Car Travel Distance:</strong> @Model.Car.TravelledDistance
</p>

<p>
    <strong> Customer name:</strong> @Model.Customer.Name
</p>

<p>
    <strong> Price:</strong> @Model.Price
</p>

<p>
    <strong> Discount:</strong> @Model.Discount
</p>